body{
    margin: 0px;
    image-rendering: pixelated;
}

/*Общие элементы*/
.split-line{
    height:8px;
    border-width:0;
    color:black;
    background-color:black;
    margin: 0px;
}

/*Верхняя панель*/
.header{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 45px; /*Высота верхней линии. Также нужно поменять внизу*/
    
    font-size: 40px;
    vertical-align: middle;
}

/*Информация о сюжетном персонаже*/
.info{
    position: relative;
    left: 0px;
    right: 0px;
    min-height: 100vh;
}

.info_center{
    position: absolute;
    align-content: center;
    left: 0px;
    right: 0px;
    width: min(1200px, 95%); /*Ширина центральной части с инфой.*/
    z-index: 40;
    margin: auto;
}

/*Нижняя панель*/
.bottom{
    position: relative;
    left: 0px;
    right: 0px;
    height: 100px;
    background-color: #222;
    background: linear-gradient(#181818, #000);
    border: 8px solid black;
}

.bottom_text{
    text-align: center;
    vertical-align: middle;
    color: #777;
    font-size: 150%;
    
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 700px;
}