@font-face {
    font-family: "Pixel";
    src: url("../styles/PixelFont.ttf");
}

/*Конкретные элементы страницы*/
body{
    font-family: "Pixel";
    font-size: 25pt;
    line-height: 0.7;
}

.article{
    
}

h1{
    font-weight: normal;
    text-align: center;
    font-size: 70pt;
    margin: 10px;
}

h5{
    font-weight: normal;
    text-align: left;
    font-size: 130%;
    margin: 0px;
}

h6{
    font-weight: normal;
    font-size: 130%;
    margin: 0px;
    margin-bottom: 10px;
}

p{
    text-align: left;
    font-size: 100%;
    margin: 0px;
    margin-top: 10px;
}

b{
    font-weight: normal;
}

a{
    text-decoration: underline;
}

.selection-block{
    margin: 15px;
    padding: 15px;
}